USE LaPlateforme;
CREATE TABLE etage (
id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,
nom VARCHAR (255),
numero INT,
superficie INT );

CREATE TABLE salle (
id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,
nom VARCHAR (255),
id_etage INT,
capacite INT );

SHOW TABLES;

SHOW COLUMNS FROM etage;

SHOW COLUMNS FROM salle;
